*{
    margin: 0px;
    padding: 0px;
}


.container{
background-color: rgb(240, 246, 250);
border: 2px solid rgb(255, 255, 255);
text-align: center;
align-items: center;
width: 99%;
height: 659px;



}
.calculator{
background-color: white;
/* border: 2px solid red; */
border: none;
/* height: 500px; */
width: 350px;
padding: 8px;
margin-top: 55px;
margin-left: 550px;
border-radius: 6px ;
/* box-shadow: 2px 3px 19px 1px rgb(39, 39, 39);
*/
/* box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(17, 17, 17, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.295) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
box-shadow: rgba(95, 94, 94, 0.315) 0px 9px 4px, rgba(0, 0, 0, 0.623) 0px 7px 13px -9px, rgba(80, 79, 79, 0.274) 0px -8px 0px inset;
}
.display input{
width: 95% !important; 
height: 95px !important;
margin-top: 5px;
border-radius: 3px;
border: none;
box-shadow: rgba(75, 74, 74, 0.17) 0px 3px 2px 0px inset, rgba(0, 0, 0, 0.027) 0px -3px 3px 0px inset, rgba(0, 0, 0, 0.1) 0px 9px 4px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 2px 6px !important;
font-size: 2.5rem !important;
display: flex !important;
text-align: right;
justify-content: flex-end in !important;


}
.calculator form input{
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background: transparent;
    font-size: 20px;
    color: black;
    cursor: pointer;
    margin: 10px;
    font-weight: bold;
    /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(176, 243, 255, 0.192) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.equall{
    width: 139px !important;
}
.operator {
   background-color:  rgba(8, 87, 87, 0.13) !important;
}